@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: none;
  line-height: none;
  padding: none;
  height: none;
  width: none;
}

@layer utilities {
  body {
    transition: background-color 0.3s, color, 0.3s;
    margin:0;
    overscroll-behavior: none;
    /* height: 100vw; */
    align-items: center;
    justify-content: center;
    /* display: grid; */
  }

  .light-theme {
    --background-color: #ffffff;
    --text-color: #1c160c;
    --section-element-color: #a18249;
    --footer-element-color: #a18249;
    --particle-color: rgb(28, 22, 12);
    --second-color: #f4efe6;
    --navbar-bg: #ffffff;
    --navbar-icon:#1c160c;
    --cv-color:rgb(86 84 84);
    --title-color:rgb(11, 10, 10);
    --cv-body-color:rgb(250, 250, 250);
    --border-blur-cover: 89 89 89;
    --tw-border-opacity: 0.15;
    --toolbar-color: #6b7280
    --border-toolbar-color:#00000014





     /* cor especial para o modo claro */
  }

  .dark-theme {
    --background-color: #0a0a0a;
    --text-color: #ffffff;
    --section-element-color: #838383;
    --footer-element-color: #7f7f7f;
    --particle-color: rgb(255, 255, 255);
    --second-color: #2e2e2e;
    --navbar-bg:#1a1a1a;
    --navbar-icon:#ffffff;
    --cv-color:rgb(188 185 185,);
    --title-color:rgb(253, 253, 253);
    --cv-body-color:rgb(38, 37, 37);
    --border-blur-cover: 89 89 89;
    --tw-border-opacity: 20;
    --border-toolbar-color:#ffffff14
    --toolbar-color: #9ca3af;




    --svg-color: --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) 
    var(--tw-contrast) var(--tw-grayscale) 
    var(--tw-hue-rotate) var(--tw-invert) 
    var(--tw-saturate) var(--tw-sepia) 
    var(--tw-drop-shadow); /* cor especial para o modo claro */
    /* cor especial para o modo claro */
    /* cor especial para o modo claro */
    /* cor especial para o modo claro */
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    --color-backdrop: hsla(158, 23%, 18%, .7);
  }
.navbar-element{
  background-color: var(--navbar-bg);
 
}

.toolbar-element{
  color: var(--toolbar-color);
  /* border-color: var(--border-toolbar-color); */

  }

.project-element{
  color: var(--title-color);

}

.cv-element{
    color: var(--cv-color);
}

.navbar-icon{
  background-color: var(--navbar-icon);
}
  .home-element {
    color: var(--section-element-color);
  }
.second-element{
  background-color: var(--second-color);
}
  .footer-element {
    color: var(--footer-element-color);
  }

  .blogFont {
    font-family: system-ui, sans-serif, "Plus Jakarta Sans", "Noto Sans";
    font-size: medium;
  }
  .full-shadow {
    filter: drop-shadow(0 0 5px 2px rgb(34, 49, 255));
  }
 
 .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

 
/* Oculta a barra de rolagem em navegadores que suportam Webkit */
.hide-scrollbar::-webkit-scrollbar {
  display: none;

}

.hover-gradient {
  transition: background 0.6s ease, filter 0.6s ease;
}

/* Oculta a barra de rolagem para navegadores compatíveis com o padrão */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

  .navbar-blur {
    backdrop-filter: blur(3px);
    z-index: 1000;
    transition: filter 0.3s ease;
  }

  .blur-cover {
    backdrop-filter: blur(12px)  saturate(1.7);
    --tw-bg-opacity: 0.05;
    -webkit-backdrop-filter: blur(20px) saturate(1.7);
    border: 1px rgb(42 42 42 / var(--tw-border-opacity)) solid;
    border-radius: 0.5rem;
  }
}
