@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: none;
  line-height: none;
  padding: none;
  height: none;
  width: none;
}

@layer utilities {
  .full-shadow {
    filter: drop-shadow(0 0 5px 2px rgb(34, 49, 255));
  }
  .mySVG {
    filter: drop-shadow(0 0 40px #0b03ff);
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .navbar.blur {
    backdrop-filter: blur(3px);
    z-index: 1000;
    transition: filter 0.3s ease;
  }
}
